<div class="btn-group">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Edit <wo:string value="$displayStringForSelection" valueWhenEmpty="$^noSelectionString" /> <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu"><wo:if condition="$^noSelectionString">
		<li><wo:hyperlink action="$selectNull" fragmentIdentifier="$^fragmentIdentifier"><wo:string value="$^noSelectionString" /></wo:hyperlink></li>
		<li class="divider"></li></wo:if><wo:repetition list="$^list" item="$^item">
		<li><wo:hyperlink action="$selectCurrentItem" fragmentIdentifier="$^fragmentIdentifier"><wo:string value="$displayString" /></wo:hyperlink></li></wo:repetition>
  </ul>
</div>