<div class="container">
	<h3>
		<wo:genericContainer elementName="a" data-toggle="collapse" href="$~\"#\" + collapsibleId">
			<wo:if condition="$^icon"><wo:str value="$iconCode" escapeHTML="$false" /> </wo:if><wo:str value="$^title" /><wo:if condition="$^subtitle"> <small><wo:str value="$^subtitle" /></small></wo:if>
		</wo:genericContainer>
	</h3>
    <wo:genericContainer elementName="div" id="$collapsibleId" class="panel-collapse collapse">
    	<div class="panel-body">
    		<wo:componentContent />
		</div>
    </wo:genericContainer>
</div>